<!-- 76. Diseño inicial de nuestra aplicación de Gifs -->
<!-- 77. Módulo Shared -->
<!-- 78. GifsModule y sus componentes -->

<div class="d-flex"><!-- INICIO div.d-flex-->

  <!--****************** Sidebar **********************-->
  <app-sidebar></app-sidebar>

  <!-- ************** FIN Sidebar ********************** -->

  <!-- ******************** GifComponents ************************* -->
<app-gifs-page class="container"></app-gifs-page>  
<!-- ******************** FIN GifComponents ********************* -->

</div><!-- FIN div.d-flex-->